header {
	width: 100%;
	z-index: 999999;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
}
.logo .st0 {
	transition: .25s ease-in-out;
	fill: #fff;
}
.white-bg .logo .st0 {
	transition: .25s ease-in-out;
	fill: $brandBlue;
}
.white-bg {
	transition: .25s ease-in-out;
	background-color: #fff;
}
header .inner_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 100%;
}
header.down {
	transition: .25s ease-in-out;
	transform: translate(0,-100%);
	position: fixed;
}
header.up {
	transition: .25s ease-in-out;
	transform: translate(0,0);
	position: fixed;
}

@media (max-width: 480px) {
	header .social_media {
		display: none;
	}
}