* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html.fixed {
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	color: #333;
	line-height: 1.5em;
}

section {
	position: relative;
}

body .container {
	width: 100%;
}
.section {
	padding-top: 6em;
	padding-bottom: 6em;
}
.inner_container {
	padding-right: 2em;
	padding-left: 2em;
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.inner_container.narrow {
	max-width: 800px;
}
footer, html, header {
	background-color: #f9f9f9;
}
header {
	padding: 1.5em 0;
}
.logo {
	max-width: 250px;
}
@media (max-width: 980px) {
	.logo {
		max-width: 180px;
	}
}
.container {
	width: 100%;
	padding: 0;
}
.topBottomPadding {
	padding-bottom: 6em;
	padding-top: 6em;
}
.topPadding {
	padding-top: 6em;
}
.bottomPadding {
	padding-bottom: 6em;
}
.darkGreyBg {
	background-color: $brandDarkGrey;
}

// COLUMN GUTTERS
.row.gutterSpaceWider {
	margin-right: -30px;
	margin-left: -30px;
}
.row.gutterSpaceWider > .col {
	padding-right: 30px;
	padding-left: 30px;
}
.col {
	padding-bottom: 1rem;
}

// BOXED ITEMS
.boxed {
	display: flex;
	flex-direction: column;
	padding: 2em;
	border: 2px solid #e9e9e9;
	height: 100%;
}
.arrow_container {
	max-width: 40px;
	margin-top: auto;
	width: 40px;
    height: 20px;
	transition: .25s ease-in-out;
}
.boxed:hover > .arrow_container {
	transition: .25s ease-in-out;
	transform: translate(10px, 0);
}

#press {
	background-color: $brandLightGrey;
}
#contact {
	///background-color: $brandBlue;
}

#our-nominees .boxed p {
	display: none;
}
#our-nominees .boxed {
	cursor: pointer;
}
#our-nominees .boxed.no_click {
	cursor: default;
}

// OVERLAY
.modal {
	position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
	bottom: 0;
	right: 0;
	display: none;
	background-color: rgba(0,0,0,.85);
	cursor: pointer;
	-webkit-overflow-scrolling: touch;
}
.modal_container {
	position: fixed;
	z-index: 99999999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	overflow: auto;
}
.modal_table {
	display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.modal_table_cell {
	margin: 0px auto;
    max-width: 600px;
    vertical-align: middle;
    display: table-cell;
	padding: 2em;
	pointer-events: none;
}
.modal_inner.visible {
	transition: .25s ease-in-out;
	transform: translate(0, 0);
}
.modal_inner {
	width: inherit;
    max-width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
    //padding: 3em;
    background-color: #fff;
    position: relative;
	transition: .25s ease-in-out;
	transform: translate(0, -30px);
}
.modal-content {
	padding: 3em;
}
.modal_inner .closeModalButton {
	top: .75em;
	right: .75em;
}
.modal_inner .closeModalButton span {
	background-color: #000;
}
@media (max-width: 850px) {
	.modal-content {
		padding: 2em;
	}
}
@media (max-width: 48em) {
	.col:nth-child(1n+1):nth-last-child(-n+1),
	.col:nth-child(1n+1):nth-last-child(-n+1) ~ .col,
	.col:nth-child(2n+1):nth-last-child(-n+2),
	.col:nth-child(2n+1):nth-last-child(-n+2) ~ .col {
	    padding-bottom: 0;
	}
}
@media (min-width: 64em) {
	.col:nth-child(3n+1):nth-last-child(-n+3),
	.col:nth-child(3n+1):nth-last-child(-n+3) ~ .col {
	    padding-bottom: 0;
	}
}