.section {
	padding-top: 4em;
	padding-bottom: 4em;
}
.inner_container {
	padding: 0 2em;
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
.inner_container.narrow {
	max-width: 800px;
}
footer, html, header {
	background-color: #f9f9f9;
}
header {
	padding: 1.5em 0;
}
.logo {
	max-width: 250px;
}
@media (max-width: 980px) {
	.logo {
		max-width: 180px;
	}
}