.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.light p,
.light ol,
.light ul,
.light strong,
.light .wpcf7 input,
.light .wpcf7-submit {
	color: #fff;
}
.light .wpcf7 input {
	border-bottom-color: #fff;
}
.light .wpcf7-submit {
	border-color: #fff;
}

.hero h2 {
	font-size: 40px;
	max-width: 500px;
    text-indent: -16px;
}

h2 {
	font-size: 28px;
	//letter-spacing: 0.02em;
	font-weight: 600;
}

h3 {
	font-size: 20px;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 1em;
	line-height: 1.5em;
}
ul {
	padding: 0 0 0 20px;
	list-style: none;
	margin-bottom: 0;
}
li {
	margin-bottom: .5em;
	position: relative;
	text-indent: -20px;
}
p, ol, ul, a {
	font-size: 16px;
}
li::before {
	font-family: fontAwesome;
	content: "\f0da";
	margin-right: 15px;
	color: $brandBlue;
	top: 1px;
	position: relative;
}
a {
	color: $brandBlue;
	text-decoration: none;
}
a .boxed h3 {
	color: #333;
	transition: .25s ease-in-out;
}
a .boxed:hover h3 {
	color: $brandBlue;
	transition: .25s ease-in-out;
}
p:last-of-type {
	margin-bottom: 0;
}

// SOCIAL MEDIA
.social_media {
	padding: 0;
	display: flex;
	margin: 0 25px 0 0;
}
.social_media li {
	text-indent: 0;
	margin-right: 20px;
	margin-bottom: 0;
}
.social_media li:last-of-type {
	margin-right: 0;
}
.social_media li::before {
	display: none;
}
.social_media a {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	width: 25px;
	height: 25px;
	font-size: 15px;
}
.boxed:hover h3 {
	color: $brandBlue;
	transition: .25s ease-in-out;
}
.boxed h3 {
	transition: .25s ease-in-out;
}
h3 a {
	font-size: 20px;
	color: #333;
	transition: .25s ease-in-out;
}
h3 a:hover {
	color: $brandBlue;
	transition: .25s ease-in-out;
}
.footer_logo {
	max-width: 160px;
	margin: 2em 0;
}
.menuInner .social_media a {
	background-color: #fff;
}
.menuInner .social_media a i {
	color: #000;
}
@media (max-width: 48em) {
	.bottomMarginMobile {
		margin-bottom: 30px;
	}
	#contact .social_media {
		margin-bottom: 30px;
	}
}
@media (max-width: 850px) and (orientation: landscape) {
	.col ~ .col ul {
		margin-top: 0;
	}
}
@media (max-device-width: 1366px) {
	h2 {
		letter-spacing: -.02em;
	}
}